*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  padding-left: 0;
}

.main-navbar .d-none {
  display: none;
}
.main-navbar .d-inline-flex {
  display: inline-flex;
}
.main-navbar__container {
  background-color: #2d3748;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
}
@media (max-width: 1199px) {
  .main-navbar__container {
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    background-color: unset;
  }
}
.main-navbar__container .navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main-navbar__container .navbar-mobile {
    flex-direction: row-reverse;
  }
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-mobile {
    padding: 12px;
    background-color: #2d3748;
  }
}
.main-navbar__container .navbar-mobile .nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}
.main-navbar__container .navbar-mobile .nav-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main-navbar__container .navbar-mobile .nav-btn {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1200px) {
  .main-navbar__container .navbar-mobile .nav-btn {
    display: none;
  }
}
.main-navbar__container .navbar-mobile .nav-btn .btn-back {
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 24px;
  padding: 2px;
  border: 1px solid #fff;
}
.main-navbar__container .navbar-mobile .nav-btn .btn-toggle {
  display: inline-block;
  background-color: transparent;
  width: 40px;
  cursor: pointer;
  padding: 4px;
}
.main-navbar__container .navbar-mobile .nav-btn .btn-toggle span {
  position: relative;
  display: block;
  height: 4px;
  border-radius: 35px;
  width: 100%;
  margin-top: 0;
  background-color: #ffffff;
  transition: all 0.25s;
}
.main-navbar__container .navbar-mobile .nav-btn .btn-toggle span.mrg {
  margin-top: 5px;
}
.main-navbar__container .navbar-mobile .nav-btn .btn-toggle.open span:first-child {
  transform: rotate(45deg) translate(6.2px, 6.2px);
}
.main-navbar__container .navbar-mobile .nav-btn .btn-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.main-navbar__container .navbar-mobile .nav-btn .btn-toggle.open span:last-child {
  transform: rotate(-45deg) translate(6.2px, -6.2px);
}
.main-navbar__container .navbar-toggle {
  display: flex;
  max-height: 100vh;
  overflow: visible;
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-toggle {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
  }
}
.main-navbar__container .navbar-toggle.active {
  max-height: 100vh;
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-toggle.active {
    overflow: visible;
  }
}
.main-navbar__container .navbar-toggle__inner {
  display: flex;
  flex-direction: row;
  margin: 0;
  max-height: 100%;
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-toggle__inner {
    flex-direction: column;
    position: relative;
    width: 33.333333%;
  }
}
@media (max-width: 767px) {
  .main-navbar__container .navbar-toggle__inner {
    flex-direction: column;
    position: relative;
    width: 100%;
  }
}
.main-navbar__container .navbar-toggle__inner li {
  list-style: none;
  position: relative;
  padding: 12px;
  cursor: pointer;
  background-color: #2d3748;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-toggle__inner li {
    border: 1px solid #fff;
    border-bottom: 0;
  }
}
.main-navbar__container .navbar-toggle__inner li:hover {
  opacity: 0.9;
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-toggle__inner li:last-child {
    border-bottom: 1px solid #fff;
  }
}
.main-navbar__container .navbar-toggle__inner li a {
  display: block;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  padding-right: 20px;
}
.main-navbar__container .navbar-toggle__inner .dropdown {
  position: relative;
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-toggle__inner .dropdown {
    position: static;
  }
}
.main-navbar__container .navbar-toggle__inner .dropdown > a::after {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZiIgY2xhc3M9ImJpIGJpLWNoZXZyb24tZG93biIgdmlld0JveD0iMCAwIDE2IDE2Ij4NCiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMS42NDYgNC42NDZhLjUuNSAwIDAgMSAuNzA4IDBMOCAxMC4yOTNsNS42NDYtNS42NDdhLjUuNSAwIDAgMSAuNzA4LjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOCAwbC02LTZhLjUuNSAwIDAgMSAwLS43MDh6Ii8+DQo8L3N2Zz4=");
  margin-left: 5px;
  width: 20px;
  height: 14px;
  background-size: cover;
  display: inline-block;
  position: absolute;
  right: 10px;
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-toggle__inner .dropdown > a::after {
    transform: rotate(-90deg);
  }
}
.main-navbar__container .navbar-toggle__inner .dropdown ul {
  display: flex;
  flex-direction: column;
  position: static;
  padding: 0;
  max-height: 0px;
  display: none;
  transition: all 0.4s;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-toggle__inner .dropdown ul {
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: 0;
    width: 100%;
  }
}
.main-navbar__container .navbar-toggle__inner .dropdown ul.show {
  display: flex;
  max-height: 40rem;
}
.main-navbar__container .navbar-toggle__inner .dropdown ul li {
  padding: 0.7rem;
  background-color: #2d3748;
  position: relative;
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-toggle__inner .dropdown ul li {
    position: initial;
  }
}
.main-navbar__container .navbar-toggle__inner .dropdown ul li a {
  display: block;
  font-size: 0.875rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
}
.main-navbar__container .navbar-toggle__inner .dropdown ul .dropdown:hover > ul {
  position: absolute;
  top: 0;
  left: 100%;
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-toggle__inner .dropdown ul .dropdown:hover > ul {
    position: absolute;
  }
}
.main-navbar__container .navbar-toggle__inner .dropdown ul .dropdown ul {
  position: absolute;
  top: 0;
  left: 100%;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-toggle__inner .dropdown ul .dropdown ul {
    position: initial;
  }
}
@media (max-width: 1199px) {
  .main-navbar__container .navbar-toggle__inner .dropdown ul .dropdown ul {
    position: absolute;
  }
}
.main-navbar__container .showing {
  max-height: 37rem;
  transition: all 0.5s;
}/*# sourceMappingURL=style.css.map */